@model WebLecturaInteractiva.Models.CategoriaLectura

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}

<h2>Edit</h2>

<h4>CategoriaLectura</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id_CategoriaLectura" />
            <div class="form-group">
                <label asp-for="NombreCategoriaLectura" class="control-label"></label>
                <input asp-for="NombreCategoriaLectura" class="form-control" />
                <span asp-validation-for="NombreCategoriaLectura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstrategiaCategoriaLectura" class="control-label"></label>
                <input asp-for="EstrategiaCategoriaLectura" class="form-control" />
                <span asp-validation-for="EstrategiaCategoriaLectura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagenCategoriaLectura" class="control-label"></label>
                <input asp-for="ImagenCategoriaLectura" class="form-control" />
                <span asp-validation-for="ImagenCategoriaLectura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

