@model WebLecturaInteractiva.Models.ModoLectura

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ModoLectura</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id_ModoLectura" />
            <div class="form-group">
                <label asp-for="NombreModoLectura" class="control-label"></label>
                <input asp-for="NombreModoLectura" class="form-control" />
                <span asp-validation-for="NombreModoLectura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescripcionModoLectura" class="control-label"></label>
                <input asp-for="DescripcionModoLectura" class="form-control" />
                <span asp-validation-for="DescripcionModoLectura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagenModoLectura" class="control-label"></label>
                <input asp-for="ImagenModoLectura" class="form-control" />
                <span asp-validation-for="ImagenModoLectura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UrlSourse" class="control-label"></label>
                <input asp-for="UrlSourse" class="form-control" />
                <span asp-validation-for="UrlSourse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

