@model WebLecturaInteractiva.Models.TipoPreguntas

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>TipoPreguntas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id_TipoPregunta" />
            <div class="form-group">
                <label asp-for="Nombre_TipoPregunta" class="control-label"></label>
                <input asp-for="Nombre_TipoPregunta" class="form-control" />
                <span asp-validation-for="Nombre_TipoPregunta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion_TipoPregunta" class="control-label"></label>
                <input asp-for="Descripcion_TipoPregunta" class="form-control" />
                <span asp-validation-for="Descripcion_TipoPregunta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="SeleccionMultiple" /> @Html.DisplayNameFor(model => model.SeleccionMultiple)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Estado_TipoPregunta" /> @Html.DisplayNameFor(model => model.Estado_TipoPregunta)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

